
<center>
  <h3> <%= link_to "Users: #{@users_in_db}", users_path  %> </h3>
</center>

<% if logged_in? %>
  <%= render 'home_logged_in' %>
<% else %>
<div class="center jumbotron">
  <%= render 'home_not_logged_in' %>
<% end %>


